# Cleansing Dataset Bitcoin Price

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('bitcoin_price_Training.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   object
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   object
 6   Market Cap  1556 non-null   object
dtypes: float64(4), object(3)
memory usage: 85.2+ KB

Observation result: Volume and Market Capitalization have an object data type that should be an integer.

In [13]:
# Cleansing data
to_int = ['Volume', 'Market Cap']
df[to_int] = df[to_int].applymap(lambda x: x.strip().replace(',','').replace('-','0'))

# Change to integer
df[to_int] = df[to_int].astype(int)

In [14]:
# Recheck data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   object
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   int64
 6   Market Cap  1556 non-null   int64
dtypes: float64(4), int64(2), object(1)
memory usage: 85.2+ KB

In [15]:
# Save the new dataset
df.to_csv('bitcoin_price_training_clean.csv', index=False)

In [16]:
df.head()

           Date     Open     High      Low    Close      Volume   Market Cap
0  Jul 31, 2017  2763.24  2889.62  2720.61  2875.34   860575000  45535800000
1  Jul 30, 2017  2724.39  2758.53  2644.85  2757.18   705943000  44890700000
2  Jul 29, 2017  2807.02  2808.76  2692.80  2726.45   803746000  46246700000
3  Jul 28, 2017  2679.73  2897.45  2679.73  2809.01  1380100000  44144400000
4  Jul 27, 2017  2538.71  2693.32  2529.34  2671.78   789104000  41816500000